body {
  background-color: #666;
  color: #6b6;
  font-family: Arial, Helvetica, sans-serif;
}

circle {
  fill: orange;
  stroke: fuchsia;
  stroke-width: 5;
}

line {
    stroke: black;
    stroke-width: 2;
}